BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
PointerAlignment: Left
SpaceAfterCStyleCast: true
ColumnLimit: 0
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
Cpp11BracedListStyle: true
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: false
BinPackArguments: true
BinPackParameters: true
AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: All
FixNamespaceComments: false
AlignAfterOpenBracket: DontAlign